numpy
pandas
opencv-python #image manipulation
Pillow  #image manipulation
ipython
ipython-genutils
ipywidgets
json5
jsonschema
jupyter-contrib-core
jupyter-contrib-nbextensions
jupyter-highlight-selected-word
jupyter-latex-envs
jupyter-nbextensions-configurator
jupyter-resource-usage
jupyter-server<2.0.0
jupyter-server-mathjax
jupyter_client
jupyter_core
jupyterlab
jupyterlab-pygments
jupyterlab-widgets
jupyterlab_server
kaggle
keras
Keras-Preprocessing
Markdown
matplotlib
matplotlib-inline
notebook
notebook_shim
numpy
pandas
pandas-gbq
plotly
scikit-image
scikit-learn
scipy
seaborn
statsmodels
streamlit
#tensorflow
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
tensorflow-datasets==4.8.3
tensorflow-estimator==2.10.0
tensorflow-macos==2.10.0
tensorflow-metadata==1.10.0
